.Container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Card-Container {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.Headline {
  fontSize: 24px;
  paddingTop: 16px;
  marginBottom: 12px;
  fontWeight: 400px;
}