body {
    background: #000000 url("wood.jpg") no-repeat center center fixed;
    background-size: cover;
}

.app {
    margin-bottom: 4.5rem;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 3.5rem;
    background: #212121 url("logo.png") no-repeat right top;
    background-size: 5rem;
}