.container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-container {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headline {
    fontSize: 2.4rem;
    paddingTop: 1.6rem;
    marginBottom: 1.2rem;
    fontWeight: 40rem;
}

.big {
    font-size: 2rem !important;
}